@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
:root {
  --beige: #F5F5DC;
  --gray: #353432;
  --darkgray: #1F1E1E;
  --darkbeige: #8B8678;
  --black: #111111;
}
body {
  margin: 0;
  background-color: var(--beige);
}
nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--beige);
  font-family: "Catamaran", sans-serif;
  font-size: 18pt;
  font-weight: 20;
}
nav ul {
  display: flex;
  height: 100%;
  width: 100%;
  grid-column: 2;
  margin: auto;
  height: 50%;
  justify-content: space-evenly;
}
#navbar {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 60px;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 3;
}
.hamburger {
  grid-column: 1;
}
nav img {
  height: 100%;
  padding-left: 10px;
  padding-right:10px;
  margin-left: 60px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  opacity: 0;
}
#header-no-nav {
  background-image: url("images/backgrounds/DSC00250.jpg");
  background-attachment: fixed;
  background-position: top;
  height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}




@keyframes logo_slidein {
  from {opacity: 0; top: 40px;}
  to {opacity: 100%; top: 0px;}
}

#hlogo {
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation-name: logo_slidein;
  animation-duration: 1.5s;
  transition: all .2s ease-in-out;
}
#hlogo:hover {
  transform: scale(1.06);
}





main {
  display: block;
  width: 60%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 400px;
  margin-bottom: 0px;
  margin: auto;
  background-color: var(--beige);
}

main li {
  font-size: 14pt;
  font-family: "Merriweather", serif;
  color: var(--gray);
  margin: 0;
  padding: 15px;
  text-indent: 2em;
  line-height: 1.2;
}

main h1 {
  font-size: 50pt;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: var(--darkgray);
  margin: 0;
  padding: 15px;
  padding-left: 0;
  padding-bottom: 0;
  text-indent: 20px;
}
main h2 {
  font-size: 24pt;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: var(--gray);
  margin: 0;
  padding: 15px;
  padding-left: 0;
  padding-top: 0;
  text-indent: 25px;
}
main h3 {
  font-size: 24pt;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: var(--darkbeige);
  padding: 15px;
  padding-left: 0;
  padding-top: 0;
  text-indent: 35px;
  margin-bottom: 0;
}
main p {
  font-size: 14pt;
  font-family: "Merriweather", serif;
  color: var(--black);
  margin: 0;
  padding: 15px;
  text-indent: 2em;
  line-height: 1.6;
}

main img {
  display: block;
  margin: auto;
  border-left: solid;
  border-color: var(--black);
  border-left-width: 20px;
}
main strong {
  
  color: var(--darkgray);
}
main em {
  font-style: italic;
  color: var(--darkgray);
}
body {
  position: relative;
  min-height: 100vh;
}
#true-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--gray);
  display: grid;
  grid-template-columns: auto auto auto;
  color: var(--beige);
  font-family: "Catamaran", sans-serif;
  font-size: 12pt;
}
#true-footer>* {
  place-self: center;
}
#true-footer ul {
  list-style-type: none;
  padding-left: 0;
}
#true-footer div {
  height: 100%
}
.footer-heading {
  text-align: center;
}

iframe {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


main a {color: rgb(50, 0, 107);}
main a:hover {color: rgb(112, 62, 168);}
main a:active {color: rgb(18, 0, 39);}
main a:visited {color: rgb(50, 0, 107);}
nav>ul>li>a {color: rgb(255, 255, 255); text-decoration: none;}
nav>ul>li>a:hover {color: rgb(159, 124, 216); text-decoration: none;}
nav>ul>li>a:active {color: rgb(198, 177, 221); text-decoration: none;}
nav>ul>li>a:visited {color: rgb(255, 255, 255); text-decoration: none;}
#true-footer a {color: rgb(235, 225, 247); text-decoration: none;}
#true-footer a:hover {color: rgb(188, 174, 204); text-decoration: none;}
#true-footer a:active {color: rgb(255, 255, 255); text-decoration: none;}
#true-footer a:visited {color: rgb(188, 174, 204); text-decoration: none;}

#list-of-articles li a {
  font-family: "Merriweather", serif;
  font-size: 18pt;
}




@media only screen and (max-device-width: 600px) {
  #navbar {
    height: 8vh;
  }
  .navlinks {
    position: fixed;
    background: #160030;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;


    clip-path: circle(10px at 10% 0%);
    -webkit-clip-path: circle(10px at 10% 0%);
    transition: all 0.2s ease-out;
    pointer-events: none;

  }
  nav li {
    font-size: 50pt;
  }
  .navlinks.open{
    clip-path: circle(2400px at 10% 0%);
    -webkit-clip-path: circle(2400px at 10% 0%);
    pointer-events: all;
  }

  .line {
    width: 70%;
    height: 0.3vh;
    background: white;
    margin: 0.5vh;
  }
  .hamburger {
    position: relative;
    top: 40%;
    left: 10%;
    transform: translate(-5%, 50%);

    cursor: pointer;
    z-index: 5;
    margin-left: 15px;
  }
  #header-no-nav {
    border-top: 8vh solid #160030;

  }
  main {
    width: 90%;
  }
}
